extends  template
block link
    link(rel="stylesheet", href="css/insert-style.css")
block content
    div.content
        div.item1

        div.item2
        div.item3
        div.item4
            p  .
        div.item5
        div.item6
